.flaticon-linkedin:before {
    content: "ï„"
}

.flaticon-instagram:before {
    content: "ï„‚"
}

.flaticon-check-mark:before {
    content: "ï„ƒ"
}

.flaticon-writing:before {
    content: "ï„„"
}

.flaticon-shopping-bag:before {
    content: "ï„…"
}

.flaticon-plus:before {
    content: "ï„†"
}

.flaticon-star:before {
    content: "ï„‡"
}

.flaticon-user:before {
    content: "ï„ˆ"
}

.flaticon-facebook:before {
    content: "ï„‰"
}

.flaticon-app-development:before {
    content: "ï„Š"
}

.flaticon-chevron:before {
    content: "ï„‹"
}

.flaticon-right-arrows:before {
    content: "ï„Œ"
}

.flaticon-telephone-call:before {
    content: "ï„"
}

.flaticon-email:before {
    content: "ï„Ž"
}

.flaticon-youtube:before {
    content: "ï„"
}

.flaticon-skype:before {
    content: "ï„"
}

.flaticon-pin:before {
    content: "ï„‘"
}

.flaticon-arrow:before {
    content: "ï„’"
}

.flaticon-plus-1:before {
    content: "ï„“"
}

.flaticon-left-arrow:before {
    content: "ï„”"
}

.flaticon-quote:before {
    content: "ï„•"
}

.flaticon-announcement:before {
    content: "ï„–"
}

.flaticon-check-mark-1:before {
    content: "ï„—"
}

.flaticon-seo-report:before {
    content: "ï„˜"
}

.flaticon-seo:before {
    content: "ï„™"
}

.flaticon-marketing:before {
    content: "ï„š"
}

.flaticon-statement:before {
    content: "ï„›"
}

.flaticon-left-arrow-1:before {
    content: "ï„œ"
}

.flaticon-wall-clock:before {
    content: "ï„"
}

.flaticon-half-star-shape:before {
    content: "ï„ž"
}

.flaticon-long-arrow-pointing-to-the-right:before {
    content: "ï„Ÿ"
}

.flaticon-minus-sign:before {
    content: "ï„ "
}

.flaticon-minus:before {
    content: "ï„¡"
}

.flaticon-straight-right-arrow:before {
    content: "ï„¢"
}

.flaticon-search:before {
    content: "ï„£"
}

.flaticon-viber:before {
    content: "ï„¤"
}

.flaticon-eye:before {
    content: "ï„¥"
}

.flaticon-light-bulb:before {
    content: "ï„¦"
}

.flaticon-call:before {
    content: "ï„§"
}

.flaticon-location:before {
    content: "ï„¨"
}

.flaticon-left-arrow-2:before {
    content: "ï„©"
}

.flaticon-right-arrow:before {
    content: "ï„ª"
}

.flaticon-mail:before {
    content: "ï„«"
}

.flaticon-straight-quotes:before {
    content: "ï„¬"
}

.flaticon-right-arrow-1:before {
    content: "ï„­"
}

.flaticon-group:before {
    content: "ï„®"
}

.flaticon-checked:before {
    content: "ï„¯"
}

.flaticon-right-arrow-2:before {
    content: "ï„°"
}

.flaticon-calendar:before {
    content: "ï„±"
}

.flaticon-right-arrow-3:before {
    content: "ï„²"
}

.flaticon-chart:before {
    content: "ï„³"
}

.flaticon-suitcase:before {
    content: "ï„´"
}

.flaticon-analytics:before {
    content: "ï„µ"
}

.flaticon-pin-1:before {
    content: "ï„¶"
}

.flaticon-check:before {
    content: "ï„·"
}

.flaticon-instagram-1:before {
    content: "ï„¸"
}